/* Styling the background and the font below*/

body{
    background-image: url("images/Wander.jpg");
    

}
/*  */
p #style{
    color: darkred;
    /* border-color:crimson;
    border-style: dashed;
    border: 2px;
} */
}